.category_title {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px ;
}
.hug {
    color: #92A3FD ;

}

.order2 {
    height: 70px;
    width: 200px;
    background-image: url('../../img/order2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.profile_title {
    font-size: 12px;
    font-weight: 900;
    text-align: center;
}

.profile_circle {
    height: 170px;
    width: 170px;
    border: solid 2px #DEDCDC;
    border-radius: 50%;
    margin: auto;
    background-image: url('../../img/mainimg.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.profile_edit {
    height: 50px;
    width: 50px;
    border: none;
    background: linear-gradient(to left, #C58BF2, #EEA4CE);
    border-radius: 50%;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.order_btn {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 90px;


}

.previous {
        display: flex;
        background: linear-gradient(to left,#92A3FD, #9DCEFF);
        border-radius: 30px;
        border: none;
        font-size: 13px;
        font-weight: 900;
        padding : 15px 55px;
        margin-top: 10px;
        color: white;
}

.next {
        display: flex;
        background: linear-gradient(to left,#C58BF2, #EEA4CE);
        border-radius: 30px;
        border: none;
        font-size: 13px;
        font-weight: 900;
        padding : 15px 40px;
        margin-top: 10px;
        color: white;
        margin-left: 10px;
}

.nickname{
    border: none;
    width: 300px;
    padding: 15px 40px;
    font-size: 16px;
    background-color: #F7F8F8;
    margin-top: 50px;
    border-radius: 10px ;
    margin-left: 30px;
    color: rgba(0,0,0,0.7);

}

.nickname :focus {
    outline: none;
}

.nickname::placeholder {
    color: rgba(0,0,0,0.3) ;
}

#gender_age {
    width: 200px;
    display: flex;
    flex-direction: row;
    margin-left: 20PX;
}

#gender_age input {
    width: 140px;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #F7F8F8;
    margin-top: 5px;
    margin-left: 15PX;
    border-radius: 10px ;
    color: rgba(0,0,0,0.7);
}

#gender_age select {
    width: 140px;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #F7F8F8;
    margin-top: 5px;
    margin-left: 15PX;
    border-radius: 10px ;
    color: rgba(0,0,0,0.7);
}

#gender_age input::placeholder{
    color: rgba(0,0,0,0.3) ;
}

#gender_age input:focus {
    outline: none;
}
