.App {
  width: 360px;
  height: 740px;
  margin: auto;
  justify-content: center;
  position: relative;
  border: solid 0.3px;
  overflow: auto;
}

.category_title {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.hug {
  color: #92a3fd;
}

.order2 {
  height: 70px;
  width: 120px;
  background-image: url("../../img/order2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile_title {
  font-size: 12px;
  font-weight: 900;
  text-align: center;
}

.profile_circ {
  height: 170px;
  width: 170px;
  border: solid 2px #dedcdc;
  border-radius: 50%;
  background-position: center;
  display: flex;
  margin: auto;
  position: relative;
  object-fit: none;
  object-position: center;
}
/* .profile_circle {
  height: 170px;
  width: 170px;
  border: solid 2px #dedcdc;
  border-radius: 50%;
  margin: auto;
  background-image: url("../../img/profileimg1.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
} */

.profile_edit {
  height: 50px;
  width: 50px;
  border: none;
  background: linear-gradient(to left, #c58bf2, #eea4ce);
  border-radius: 50%;
  position: absolute;
  top: 350px;
  right: 100px;
}

.order_btn {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 90px;
}

.previous {
  display: flex;
  background: linear-gradient(to left, #92a3fd, #9dceff);
  border-radius: 30px;
  border: none;
  font-size: 13px;
  font-weight: 900;
  padding: 15px 55px;
  margin-top: 10px;
  color: white;
}

.next {
  display: flex;
  background: linear-gradient(to left, #c58bf2, #eea4ce);
  border-radius: 30px;
  border: none;
  font-size: 13px;
  font-weight: 900;
  padding: 15px 40px;
  margin-top: 10px;
  color: white;
  margin-left: 10px;
}

.nickname {
  border: none;
  width: 260px;
  padding: 15px 40px;
  font-size: 16px;
  background-color: #eceeee;
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 30px;
  color: grey;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.nickname :focus {
  outline: none;
}

.nickname::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "AppleSDGothicNeoM";
}

#gender_age {
  width: 290px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  color: grey;
}

#gender_age input {
  width: 140px;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #eceeee;
  margin-top: 5px;
  margin-left: 30px;
  border-radius: 10px;
  color: grey;
}

#gender_age select {
  width: 160px;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #eceeee;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  color: grey;
  font-family: "AppleSDGothicNeoM";
}

#gender_age input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-indent: 5px;
  font-family: "AppleSDGothicNeoM";
}

#gender_age input:focus {
  outline: none;
}
.select {
  color: #7a7474;
}
.modal {
  background: white;
  height: 400px;
  width: 360px;
  margin-top: 300px;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  display: flex;
  margin: auto;
  border-radius: 30px 30px 0px 0px;
}

.modal_bar {
  width: 80px;
  height: 5px;
  position: absolute;
  display: flex;
  margin-left: 120px;
  color: grey;
  border-radius: 20px;
  background-image: url("../../img/Rectangle\ 5725.png");
}

.modal_select {
  height: 100px;
  width: 100px;
  border: solid 2px #dedcdc;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  background-image: url("../../img/profileimg1.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.modal_select2 {
  height: 100px;
  width: 100px;
  border: solid 2px #dedcdc;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  background-image: url("../../img/profileimg2.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  position: relative;
}
.modal_select3 {
  height: 100px;
  width: 100px;
  border: solid 2px #dedcdc;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  background-image: url("../../img/profileimg3.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.modal_back {
  width: 360px;
  height: 740px;
  justify-content: center;
  position: fixed;
  margin: auto;
  border: solid 1px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.select_btn {
  display: flex;
  background: linear-gradient(to left, #c58bf2, #eea4ce);
  border-radius: 30px;
  border: none;
  position: absolute;
  bottom: 70px;
  margin-left: 130px;
  font-size: 13px;
  font-weight: 900;
  padding: 15px 40px;
  color: white;
}

.team {
  margin-top: 80px;
  height: 110px;
  width: 360px;
  background: #d9d9d9;
  text-align: center;
  padding-top: 20px;
}
.info {
  color: #6f6f6f;
  font-size: 15px;
}
.info2 {
  color: #353333;
  font-size: 15px;
  font-weight: 500;
}
.info3 {
  font-size: 12px;
}

.nickname_icon {
  position: absolute;
  left: 65px;
  top: 456px;
}

.age_icon {
  position: absolute;
  left: 65px;
  top: 515px;
}

.arrow_icon {
  width: 100px;
  height: 100px;
  display: flex;
  border: solid 1px;
  background-image: url("../../img/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gender_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 23px;
  right: 60px;
}
.hug {
  font-weight: 700;
}
.ging {
  font-weight: 700;
}

.age_div {
  align-items: center;
  justify-content: center;
  text-align: center;
}
