.category_title {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "AppleSDGothicNeoM";
}
.hug {
  color: #92a3fd;
}

.order {
  height: 70px;
  width: 120px;
  background-image: url("../../img/order1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.writing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.gomin {
  color: #92a3fd;
  padding: 2px;
  font-weight: 600;
}

#category_card {
  height: 340px;
  width: 300px;
  margin: auto;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 3px 5px 0px gray;
  overflow-y: auto;
  align-content: center;
}

#category_card button {
  background-color: #e0eaff;
  border-color: #92a3fd;
  padding: 10px 12px 10px 12px;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: #7b6f72;
  font-size: 12px;
  border: none;
  width: 60px;
  align-items: center;
  justify-content: center;
}
.emotion_txt {
  margin-top: 5px;
  margin-bottom: 0px;
}

.counselor_login_btn {
  display: flex;
  margin: auto;
  background: linear-gradient(to left, #92a3fd, #9dceff);
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 900;
  padding: 15px 80px;
  margin-top: 50px;
  color: white;
}

.team {
  margin-top: 80px;
  height: 110px;
  width: 360px;
  background: #d9d9d9;
  text-align: center;
  padding-top: 20px;
}
.info {
  color: #6f6f6f;
  font-size: 15px;
}
.info2 {
  color: #636161;
  font-size: 15px;
}
.info3 {
  font-size: 12px;
}
.emotion {
  margin-right: 5px;
  margin-left: 0px;
}
.hug {
  font-weight: 700;
}
.ging {
  font-weight: 700;
}
