body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_bg {
  height: 120px;
  width: 200px;
  background-image: url("../../img/profileimg1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.header__title3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 40px;
}
.header__title2 {
  margin-top: 20px;
  font-weight: 700;
  color: #92a3fd;
  font-size: 40px;
}
.header__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__text {
  font-size: 15px;
  color: #7b6f72;
  font-weight: 500;
  text-align: center;
  font-family: "AppleSDGothicNeoM";
}
.KakaoBtn {
  display: flex;
  margin: auto;
  background: #ffe812;
  color: #6f6f6f;
  padding: 3px 20px 0px 45px;
  border-radius: 30px;
  border: none;
  font-size: 13px;
  font-weight: 900;
  margin-top: 70px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kakaoBtn_title {
  padding: 10px 0px 0px 0px;
  font-family: "AppleSDGothicNeoM";
}

.counselorBtn {
  display: flex;
  margin: auto;
  background: linear-gradient(to left, #92a3fd, #9dceff);
  border-radius: 30px;
  border: none;
  font-size: 13px;
  font-weight: 900;
  padding: 12px 58px;
  margin-top: 10px;
  color: white;
  font-family: "AppleSDGothicNeoM";
}

.kakao_logo {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  background-image: url("../../img/logo.png");
  background-size: cover;
  margin-right: 10px;
  align-items: center;
}

.a_kakao {
  text-decoration: none;
  color: black;
}
