.Title {
  display: flex;
  align-items: center;
}
.TitleText {
  margin-left: 10px;
}
.TitleImage {
  margin-left: 10px;
  width: 34px;
  height: 34px;
}
.Meditation {
  margin: 10px;
  justify-content: center;
  width: 250px;
  border: none;
  background-color: #ffffff;
}
.MusicImage {
  width: 125px;
  height: 123px;
  left: 23px;
  top: 185px;

  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.contentText {
  width: 98px;
  height: 30px;
  left: 35px;
  top: 312px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* or 125% */

  text-align: center;

  color: #000000;
}
.List {
  display: flex;
  overflow-x: scroll;
}
.MeditationBox_M {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(98.63deg, #9ac2fe -10.72%, #92a6fd 84.88%);

  width: 77px;

  border-radius: 99px;
}
.SoundBox_M {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;

  width: 77px;

  border-radius: 99px;
}
.MeditationBox_S {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  

  width: 77px;

  border-radius: 99px;
}
.SoundBox_S {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(98.63deg, #9ac2fe -10.72%, #92a6fd 84.88%);
  width: 77px;

  border-radius: 99px;
}

.ToggleBox {
  display: flex;
  justify-content: center;
  width: 188px;
  height: 47px;
  margin: 10px;
  border-radius: 99px;
  border: 2px solid;
}
.Box {
  display: flex;
  justify-content: center;
}
.Text {
  margin: 0px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items:baseline
}
.Link {
  background-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
}