.back {
  padding-top: 10px;
  background-color: white;
}

.margin_div {
  display: flex;
  align-items: center;
  margin-top: 65px;
}
.Title {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-family: "AppleSDGothicNeoL";
}
.TitleText {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: "AppleSDGothicNeoL";
}
.TitleImage {
  margin-left: 10px;
  width: 34px;
  height: 34px;
}
.Meditation {
  margin: 10px;
  justify-content: center;
  width: 250px;
  border: none;
  background-color: #ffffff;
  position: relative;
}
.MusicImage {
  width: 125px;
  height: 123px;
  left: 23px;
  top: 185px;
  border-radius: 100%;

  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.contentText {
  width: 98px;
  height: 45px;
  left: 35px;
  top: 312px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  overflow-y: hidden;
  /* or 125% */

  text-align: center;

  color: #000000;
  margin-top: 10px;
  font-family: "AppleSDGothicNeoM";
}
.List {
  height: 200px;
  display: flex;
  overflow-x: scroll;
  background-color: #ffffff;
  overflow-y: hidden;
}

.Text {
  margin: 0px;
  font-family: "AppleSDGothicNeoL";
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ffffff;
}
.Link {
  background-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
}
.Icon {
  position: absolute;
  top: 50px;
  right: 45px;
}
