.Title {
  display: flex;
  align-items: center;
}
.TitleText {
  margin-left: 10px;
}
.TitleImage {
  margin-left: 10px;
  width: 34px;
  height: 34px;
}
.Meditation {
  margin: 10px;
  justify-content: center;
  width: 250px;
  border: none;
  background-color: #ffffff;
}
.MusicImage {
  width: 125px;
  height: 123px;
  left: 23px;
  top: 185px;

  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.MeditationText {
  width: 98px;
  height: 30px;
  left: 35px;
  top: 312px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* or 125% */

  text-align: center;

  color: #000000;
}
.List {
  display: flex;
  overflow-x: scroll;
}
