.container {
  width: 300px;
  height: 200px;

  z-index: 999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #e9effe;
  border: 1px solid black;
  border-radius: 8px;
}
