.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "AppleSDGothicNeoM";
}
.TitleText {
  margin: 0px 0px 0px 15px;
  font-weight: 400;
  font-size: 15px;
  font-weight: bold;
  line-height: 19px;
  font-family: "AppleSDGothicNeoM";
}
.LinkText {
  margin-right: 10px;
  font-size: 13px;
  font-family: "AppleSDGothicNeoM";
}
.image {
  border-radius: 15px;
  width: 150px;
  height: 120px;
}
.List {
  height: 200px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.Text {
  width: 170px;
  height: 45px;
  left: 29px;
  top: 861px;
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 7px;
  font-family: "AppleSDGothicNeoM";
}
.Topic {
  vertical-align: middle;
  justify-content: center;
  margin: 10px;
  width: 200px;
  background-color: #ffffff;
  border: none;
}

.back {
  margin-top: 30px;
}
