.List {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 65px;
}
.Topic {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: none;
}
.Text {
  margin-top: 10px;
  text-align: left;
  width: 300px;
  margin-left: 15px;
  font-family: "AppleSDGothicNeoM";
}
.image {
  margin: 0px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.Icon {
  position: absolute;
  right: 15px;
  bottom: 85px;
}
.ImgBox {
  position: relative;
}

.List {
}
.category_title {
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
