.music {
  display: flex;
  align-items: center;
  width: 266px;
  height: 67.56px;
  left: 16px;
  top: 436px;
  border-radius: 24px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.image {
  width: 50px;
  height: 50px;
  left: 29px;
  top: 445px;
  margin-left: 10px;
  border-radius: 13px;
}
.PlayButton {
  left: 72.23%;
  right: 22.37%;
  top: 46.28%;
  bottom: 51.77%;
  margin-left: 10px;
  margin-right: 10px;
}
.MusicText {
  left: 25.56%;
  right: 43.72%;
  top: 45.43%;
  bottom: 53.05%;
  margin: 7px;
  width: 165px;
  height: 50px;
  overflow-y: hidden;
  text-align: start;
}
.MusicTop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 265px;
  overflow-x: scroll;
}
.TitleText {
  margin: 0 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
.playicon {
  width: 20px;
  height: 20px;
}
