@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: "AppleSDGothicNeo", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.material-icons {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.App {
  width: 360px;
  height: 740px;
  margin: auto;
  justify-content: center;
  position: relative;
  border: none;
  overflow: auto;
  /* border: solid 1px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* 아래 폰트*/
/* @font-face {
  font-family: "BlackhanSans";
  font-weight: 50;
  src: url("./fonts/BlackHanSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Yfont";
  src: url("./fonts/Y\ 너만을\ 비춤체.ttf");
} */

@font-face {
  font-family: "SeoulNamsanB";
  src: url("./fonts/SeoulNamsanB.ttf");
}

@font-face {
  font-family: "PureunJeonnam";
  src: url("./fonts/PureunJeonnam.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("./fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url("./fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("./fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("./fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("./fonts/AppleSDGothicNeoM.ttf");
}
