body { padding: 0; margin: 0}
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #FFFFFF }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 60%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 45%; }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-footer { position: relative; margin-top: 10px; }
.unity-mobile #unity-footer { display: none }
/* #unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center } */
#unity-build-title { float: left; line-height: 38px; font-family: arial; font-size: 22px; color: orange; }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; }
#untiy-fullscreen-button :hover {
    cursor: pointer;
}
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
