body {
  padding: 0;
  margin: 0;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#warningText {
  text-align: center;
  font-size: 0.8em;
  padding: 2px;
}
#unity-canvas {
  background: #ffffff;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-logo {
  width: 45%;
}
#unity-footer {
  position: relative;
  padding: 10px;
}
.unity-mobile #unity-footer {
  display: block;
}
#unity-build-title {
  float: left;
  font-family: arial;
  font-size: 18px;
  color: orange;
}
#unity-fullscreen-button {
  float: right;
  width: 3%;
  height: 3%;
}
.unity-mobile #unity-fullscreen-button {
  width: 4%;
  height: auto;
}
#untiy-fullscreen-button :hover {
  cursor: pointer;
}
