.pink {
  height: 100px;
  width: 266px;
  border-radius: 10px;
  background: #f9ebf8;
  padding: 10px 20px;
  margin: 20px 45px;
  text-align: center;
}

.title {
  font-family: AppleSDGothicNeoB;
  font-size: 20px;
}

.card {
  padding: 6px 11px;
  margin: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: white;
  display: flex;
  overflow-x: scroll;
}

.back {
  padding: 0px 20px;
}
.genderImg {
  padding-left: 5px;
}
.profileDetail {
  margin: 0px 10px;
  padding: 13px 0px;
}

.text {
  font-family: AppleSDGothicNeoL;
}

.dateTitle {
  font-family: AppleSDGothicNeoB;
  color: #5b71e7;
  padding-top: 3px;
  font-size: 15px;
}

.date {
  font-family: AppleSDGothicNeoM;
  font-size: 12px;
  padding-left: 5px;
}

.extra {
  margin-top: 5px;
}

.counselorName {
  font-family: AppleSDGothicNeoB;
}

.profileImage {
  width: 110px;
}

.realProfileImage {
  width: 100px;
  padding: 10px;
  border-radius: 25px;
}

.title2 {
  font-family: AppleSDGothicNeoM;
  font-size: 17px;
}

.nickname {
  font-family: AppleSDGothicNeoM;
  font-size: 15px;
}

.regDate {
  font-family: AppleSDGothicNeoM;
  padding-left: 160px;
  font-size: 13px;
}

.cancel {
  margin-left: 40px;
  background: linear-gradient(135deg, #9dceff 0%, #92a3fd 100%);
  color: white;
  border-radius: 50px;
  border: 0px solid;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
  height: 38px;
  width: 130px;

  border-radius: 99px;
}

.done {
  margin-left: 20px;
  background: linear-gradient(135deg, #eea4ce 0%, #c58bf2 100%);
  color: white;
  border-radius: 99px;
  border: 0px solid;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  height: 38px;
  width: 130px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
  margin-bottom: 20px;
}

.star {
  margin-bottom: 12px;
}

.btns {
  margin-top: 30px;
  margin-bottom: 30px;
}

.marginDiv {
  margin-top: 60px;
  height: 65px;
  width: 360px;
}

.marginDivH {
  margin-bottom: 10px;
  height: 65px;
  width: 360px;
}
