.btn {
  display: flex;
  margin: 25px 0px;
  padding: 0px;
  /* text-align: center;
  align-items: center; */
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: center;
  z-index: 100;
  position: fixed;
  bottom: 10vh;
  left: 10%;
  width: 80%;
}

.btn button {
  display: block;
  margin: auto;
  background: linear-gradient(135deg, #eea4ce 0%, #c58bf2 100%);
  color: white;
  border-radius: 50px;
  border: 0px solid;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  width: 160px;
  height: 37px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
}

.marginDivH {
  height: 65px;
  width: 360px;
}

.marginDiv {
  margin-top: 60px;
  height: 65px;
  width: 360px;
}
