.title {
  margin: 10px 20px;
  font-weight: bold;
  font-size: 17px;
  font-family: "AppleSDGothicNeoL";
}

.back {
  display: flex;
  overflow-x: scroll;
  padding: 0px 15px;
}

.marginDivH {
  margin-bottom: 10px;
  height: 65px;
  width: 360px;
}

.marginDiv {
  margin-top: 60px;
  height: 65px;
  width: 360px;
}
