.banner {
  background: #eaf0fe;
}

.banner div {
  margin: 0px 20px;
}

.titleImage {
  margin: 0px 70px;
}

.blueImage {
  position: absolute;
  /* margin: 10px 0px 0px 170px; */
  height: 99px;
  width: 95px;
  left: 190px;
  top: 80px;
  border-radius: 0px;
}

.purpleImage {
  /* margin: 20px 90px 0px 170px; */
  position: absolute;
  height: 91px;
  width: 138px;
  left: 150px;
  top: 100px;
  border-radius: 0px;
}

.banner img {
  margin: 10px 10px 10px 20px;
}

.banner span {
  font-size: 0.85rem;
  font-weight: bold;
}

.buttons {
  margin: 60px 30px;
}

.blue {
  background: #ccd6fd;
  /* background-color: red; */
  margin: 0px 10px 30px 0px;
  height: 197px;
  width: 300px;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.purple {
  /* background: #eea4ce99; */
  background: #ffd0f6;
  height: 197px;
  width: 300px;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.title {
  /* margin: 10px 0px 10px 20px; */
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.explain {
  padding: 10px 0px 0px 0px;
  font-size: 0.85rem;
  width: 200px;
  color: black;
  /* width: 20px; */
  /* margin: 10px; */
  /* color: white; */
}
.warn {
  color: red;
  margin-top: 20px;
  margin-left: 5px;
}

.margin_div {
  margin-top: 60px;
}
