body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


.Nav {
    display: flex;
    margin : auto;
    color : black;
    font-size: 10px;
    box-shadow: 1px 1px 5px 0px gray;
    justify-content: center;
    position: fixed;
    background-color: white;
    width: 360px;

}    

.counselor_title {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}

.counselor_card {
    width: 350px;
    height: 200px;
    border: solid 1px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;

}

.counselor_img {
    float: left;  
    height: 120px;
    width: 120px;
    background-image: url('../../img/Rectangle\ 5957.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

}

.counselor_name {
    font-weight: 600;
    margin-top: 5px;
}

.counselor_card_item {
    margin-right: 5px;
    align-items: left;
    margin-left: 0px;
}

.counselor_card_item_text {
    color: #5B71E7;
    font-weight: 600;
    margin-right: 5px;
}