.background {
  margin: 30px 15px 15px 15px;
  border-radius: 20px;
  padding-bottom: 10px;
  background: #e9eefe;
}

.title {
  color: #5b71e7;
  font-family: AppleSDGothicNeoB;
  padding: 10px 0px 0px 18px;
}

.review {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
}

.text {
  font-family: AppleSDGothicNeoL;
  font-size: 15px;
}

.date {
  text-align: end;
  justify-content: flex-end;
  font-family: AppleSDGothicNeoL;
  /* margin-left: 150px; */
  font-size: 12px;
}

.starImg {
  width: 17px;
}

.score {
  font-family: AppleSDGothicNeoL;
  padding-left: 5px;
}

.content {
  margin-top: 10px;
  font-family: AppleSDGothicNeoL;
}
