.titleImage {
  /* width: 91px; */
  /* height: 107px; */
}

.starImage {
  margin: 2px 0px 0px 10px;
  width: 12px;
  height: 12px;
}

.name {
  margin: 10px 0px 0px 0px;
  /* color: #5b71e7; */
  font-weight: bold;
  font-size: 13px;
  font-family: "AppleSDGothicNeoL";
}

.detail {
  display: flex;
  overflow-x: scroll;
  font-size: 0.5rem;
}

.field {
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* width: 50px; */
  /* height: 15px; */
  background: #eaf0fe;
  text-align: center;
  font-size: 12px;
  font-family: "AppleSDGothicNeoL";
}

.score {
  margin: 0px 0px 0px 5px;
}

.more {
  align-self: left;
}
