.title {
  margin: 10px 0px 10px 20px;
  font-weight: bolder;
}

.explain {
  text-align: center;
  font-size: 12px;
  margin: auto;
}

.time {
  /* overflow: hidden; */
  /* background: red; */
  margin: 30px 80px;
}

.back {
  margin-top: 40px;
}
