.back {
  /* padding: 10px; */
  padding-right: 20px;
}

.titleImage {
  display: block;
  width: 91px;
  height: 91px;
  border-radius: 90px;
}

.score {
  margin-top: 4px;
  display: flex;
  overflow-x: scroll;
}

.number {
  padding-left: 5px;
  font-size: 1px;
}

.starImage {
  width: 12px;
  height: 12px;
}

.name {
  /* color: #5b71e7; */
  font-family: "AppleSDGothicNeoL";
  font-weight: bold;
  margin-top: 4px;
  margin-left: 3px;
  font-size: 11px;
}

.detail {
  display: flex;
  overflow-x: scroll;
  font-size: 0.5rem;
}

.field {
  font-family: "AppleSDGothicNeoM";
  border-radius: 5px;
  padding: 3px 5px;
  background: #fce9fe;
  text-align: center;
  font-size: 1px;
}
