.square {
  background: #e9eefe;
  color: #3d3d3d;
  border-radius: 10px;
  border: 0px solid;
  font-size: 1px;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  height: 80px;
  overflow-x: scroll;
  margin: 0px 5px 5px 0px;
}

.subImage {
  margin-top: 10px;
}

.text {
  text-align: center;
  margin-top: 7px;
  font-size: 11px;
  font-family: "AppleSDGothicNeoL";
}
