.title {
  margin: 10px 20px;
  font-weight: bold;
  /* font-weight: bolder; */
  font-size: 17px;
  font-family: "AppleSDGothicNeoL";
}

.subject {
  display: flex;
  overflow-x: scroll;
  /* margin: 0px 20px; */
  padding: 0px 20px 0px 20px;
}

.back {
  margin-top: 20px;
  margin-bottom: 30px;
}

.square {
  background: #e9eefe;
  color: #3d3d3d;
  border-radius: 10px;
  border: 0px solid;
  font-size: 1px;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  height: 70px;
  overflow-x: scroll;
  margin: 0px 5px 5px 0px;
}
