.item {
  /* align-items: center; */
  /* margin: 8px 8px; */
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  border-radius: 30px;

  /* background-color: hsl(0, 0%, 95%); */
  /* background-color: #f5f5f5; */
  background-color: #f6f6f6f9;
  /* border: 1.5px solid #d5d2d2; */
  border: 1.8px solid #d4d0d0;
  margin: 10px;
  height: 150px;
  box-shadow: 0 2px 8px rgba(217, 217, 217, 81%);
}

.time {
  font-family: "AppleSDGothicNeoL";
}

.title {
  font-weight: bold;
  font-size: 17px;
  margin: 20px 0px 5px 0px;
  font-family: "AppleSDGothicNeoM";
}

.counselorName {
  color: #5b71e7;

  /* font-weight: bold; */
  font-family: "AppleSDGothicNeoB";
  font-size: 13px;
}

.btnCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #ffe6e6;
  color: #ff0909;
  border-radius: 50px;
  border: 0px solid;
  text-align: center;
  cursor: pointer;
  margin-left: 110px;
  width: 66px;
  height: 23px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
}
.fontCancel {
  color: #ff0909;
  font-size: 11px;
  font-weight: bold;
}

.btnEnter {
  font-size: 11px;
  font-family: "AppleSDGothicNeoL";
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #9dceff 0%, #92a3fd 100%);
  border-radius: 50px;
  border: 0px solid;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
  width: 55px;
  height: 23px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
  justify-content: center;
}

.fontEnter {
  color: white;
  font-size: 11px;
  font-family: "AppleSDGothicNeoB";
}

.Button {
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date {
  margin: 0px 0px 0px 4px;
  font-size: 13px;
  font-family: "AppleSDGothicNeoM";
}

.top {
  padding-top: 15px;
}

.planeImg {
  width: 40px;
  margin-left: 13px;
}
