.item {
  /* align-items: center; */
  /* margin: 8px 8px; */
  padding: 0px 20px;
  display: flex; 
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  border-radius: 20px;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid #ccc4c4;

  margin: 10px;
  box-shadow: 0 2px 8px rgba(217, 217, 217, 0.94);
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin: 20px 0px 5px 0px;
}

.time {

}

.counselorName{
  color: #5B71E7;
  font-weight: bold;
}

.btnCancel {
  display: block;
  margin: auto;
  background: #FFE6E6;
  color: #FF0909;
  border-radius: 50px;
  border: 0px solid;

  font-size: 1px;
  font-weight: bold;
  cursor: pointer;
  margin:10px;
  width: 80px;
  height: 30px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
}

.btnEnter {
  display: block;
  margin: auto;
  background: linear-gradient(135deg, #9dceff 0% ,#92a3fd 100%);;
  color: white;
  border-radius: 50px;
  border: 0px solid;
  font-size: 1px;
  font-weight: bold;
  cursor: pointer;
  margin:10px;
  width: 80px;
  height: 30px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
}
.Button {
  display: flex;
}