.item {
  align-items: center;
  /* margin: 8px 8px; */
  padding: 0px 20px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  border-radius: 20px;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid #ccc4c4;
  height: 122px;
  width: 500px;
  left: 16px;
  top: 436px;
  box-shadow: 0 2px 8px rgba(217, 217, 217, 0.94);
}

.title {
  font-weight: bold;
  margin: 30px 10px 1px 10px;
}

.time {

}

.counselorName{
  color: #5B71E7;
  font-weight: bold;
}

.btnCancel {
  display: block;
  margin: auto;
  background: #FFE6E6;
  color: #FF0909;
  border-radius: 50px;
  border: 0px solid;
  padding: 0.3rem 1rem;
  font-size: 1px;
  font-weight: bold;
  cursor: pointer;
  width: 56px;
  height: 20px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
}

.btnEnter {
  display: block;
  margin: auto;
  background: linear-gradient(135deg, #9dceff 0% ,#92a3fd 100%);;
  color: white;
  border-radius: 50px;
  border: 0px solid;
  padding: 0.3rem 1rem;
  font-size: 1px;
  font-weight: bold;
  cursor: pointer;
  width: 56px;
  height: 20px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.79);
}
