.react-calendar-heatmap .color-scale-1 {
  fill: #e8c3ff;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #dfaaff;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #d398f5;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #c87cf6;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #ba5af4;
}
