.App {
  width: 360px;
  height: 740px;
  margin: auto;
  justify-content: center;
  position: relative;
  border: solid 0.3px;
  overflow: auto;
}
.nav {
  height: 60px;
  width: 360px;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 0px gray;
  bottom: 0px;
  background-color: white;
  position: fixed;
  width: 360px;
  z-index: 999;
}
.nav_btn_title {
  color: #ada4a5;
  font-size: 8px;
}

.nav_btn {
  border: none;
  background-color: white;
  position: relative;
  padding: 5px;
}
.nav_btn2 {
  border: none;
  background-color: white;
  position: relative;
  padding-top: 8px;
  padding-right: 30px;
}
.nav_btn3 {
  border: none;
  background-color: white;
  position: relative;
  padding: 5px;
}
.nav_btn4 {
  border: none;
  background-color: white;
  position: relative;
  padding: 5px;
}

.home_btn {
  height: 60px;
  width: 60px;
  border: none;
  background: linear-gradient(to left, #92a3fd, #9dceff);
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 150px;
  z-index: 9999;
  box-shadow: 1px 1px 3px 0px gray;
}
