.margin_div {
  margin-top: 100px;
}

.mission_div {
  display: flex;
  margin: auto;
  width: 300px;
  height: 70px;
  margin-top: 50px;
  align-items: center;
  padding-bottom: 0px;
  box-shadow: 1px 1px 20px 0px #d9d9d9;
  border-radius: 15px;
}

.mission_text {
  font-weight: 700;
  margin-left: 10px;
}

.timer_div {
  display: flex;
  margin-left: 80px;
  margin-top: 70px;
}

.start_btn {
  display: flex;
  margin: auto;
  margin-top: 100px;
}

.end_btn {
  display: flex;
  margin: auto;
  margin-top: 100px;
}

.minutes {
  margin-left: 10px;
  color: grey;
}
