.margin_div {
  margin-top: 100px;
}

.mission_div {
  width: 300px;
  justify-content: space-between;
  height: 60px;
  box-shadow: 1px 1px 20px 0px #d9d9d9;
  border-radius: 15px;
  display: flex;
  margin: auto;
  align-items: center;
  /* flex-direction: row; */
  margin-top: 20px;
  margin-left: 20px;
}

.start_btn {
  width: 40px;
  height: 40px;
  background: linear-gradient(to left, #c7dbff, #c0cdff);
  border-radius: 50%;
  display: flex;
  border: none;
  margin-right: 5px;
}
.start_btn_text {
  color: white;
  font-weight: 500;
  display: flex;
  margin: auto;
  align-content: center;
  justify-content: center;
  margin-bottom: 12px;
}

.mission_title {
  font-weight: 600;
  display: flex;
  /* margin-top: 15px; */
  margin-left: 10px;
  color: gray;
  font-size: 13px;
  margin-bottom: 10px;
}

.minutes {
  margin-left: 10px;
  color: grey;
}

.stamp {
  margin-top: 90px;
}

.complete_div {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-right: 5px;
  background-color: #d398f5;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}

.complete {
  color: white;
  font-weight: 500;
}

.minutes {
  margin-left: 10px;
  color: grey;
  position: absolute;
  font-size: 12px;
  margin-top: 27px;
}
.today {
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 5px;
}

.mission_stamp {
  font-weight: 600;
  font-size: 17px;
  margin-left: 5px;
}
